<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>Title</key>
			<string>Newsify Sync</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>googleAccount</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
            <key>Key</key>
			<string>syncSettings</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sponsored Content</string>
			<key>Key</key>
			<string>pref_hide_sponsored_content</string>
			<key>DefaultValue</key>
			<integer>0</integer>
            <key>TrueValue</key>
            <integer>0</integer>
            <key>FalseValue</key>
            <integer>1</integer>
		</dict>
        <dict>
			<key>Title</key>
			<string>Upgrades</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>IASKCustomViewSpecifier</string>
            <key>Key</key>
            <string>premiumSettings</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKCustomViewSpecifier</string>
            <key>Key</key>
            <string>removeAdBannerSettings</string>
        </dict>
        <dict>
			<key>Title</key>
			<string>Feedback</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>rateAndReview</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>Reading</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Night Mode</string>
			<key>Key</key>
			<string>pref_night_mode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Auto Night Mode</string>
            <key>Key</key>
            <string>pref_auto_night_mode</string>
            <key>DefaultValue</key>
            <integer>0</integer>
            <key>Titles</key>
            <array>
                <string>Off</string>
                <string>Enabled</string>
            </array>
            <key>Values</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
            <key>FooterText</key>
            <string>Auto Night Mode requires that your device's Auto-Brightness setting be enabled in the device settings under Display &amp; Brightness. When your screen brightness is dimmed below a certain level, night mode will be enabled automatically.</string>
        </dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Theme</string>
			<key>Key</key>
			<string>pref_theme</string>
            <key>MinimumOS</key>
			<integer>700</integer>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Light</string>
                <string>Sepia</string>
                <string>Gray</string>
				<string>Classic</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
                <integer>2</integer>
                <integer>3</integer>
				<integer>1</integer>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show Subscriptions</string>
			<key>Key</key>
			<string>pref_show_unread_only</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>All</string>
				<string>Unread</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Order Subscriptions</string>
			<key>Key</key>
			<string>pref_sort_subscriptions</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Drag and drop</string>
				<string>Alphabetically</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Open Folders As</string>
			<key>Key</key>
			<string>pref_open_folders</string>
			<key>DefaultValue</key>
			<integer>0</integer>
            <key>Titles</key>
			<array>
				<string>Article List</string>
				<string>Subscription List</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Order Items</string>
			<key>Key</key>
			<string>pref_order_items</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>By date, newest first</string>
				<string>By date, oldest first</string>
                <string>By subscription, newest first</string>
                <string>By subscription, oldest first</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Open Links</string>
			<key>Key</key>
			<string>pref_open_links</string>
			<key>DefaultValue</key>
			<string>original</string>
			<key>Titles</key>
			<array>
				<string>Original Page</string>
				<string>Instapaper Mobilizer</string>
				<string>Google Mobilizer</string>
                <string>Readability Mobilizer</string>
			</array>
			<key>Values</key>
			<array>
				<string>original</string>
				<string>instapaper</string>
				<string>google</string>
                <string>readability</string>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Article Font</string>
			<key>Key</key>
			<string>pref_font</string>
			<key>DefaultValue</key>
			<string>georgia</string>
			<key>Titles</key>
			<array>
                <string>[iOS7]Avenir</string>
                <string>Iowan</string>
				<string>Georgia</string>
				<string>Helvetica</string>
                <string>Helvetica Neue</string>
				<string>Verdana</string>
                <string>Palatino</string>
                <string>Times New Roman</string>
			</array>
			<key>Values</key>
			<array>
                <string>avenir</string>
                <string>iowan</string>
				<string>georgia</string>
				<string>helvetica</string>
                <string>helveticaneue</string>
				<string>verdana</string>
                <string>palatino</string>
                <string>timesnewroman</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Article Font Size</string>
			<key>Key</key>
			<string>pref_font_size</string>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Titles</key>
			<array>
				<string>Tiny</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
                <string>Extra Large</string>
				<string>Huge</string>
			</array>
			<key>Values</key>
			<array>
				<string>tiny</string>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
                <string>extralarge</string>
				<string>huge</string>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always Auto-Refresh</string>
			<key>Key</key>
			<string>pref_always_auto_refresh</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Landscape View</string>
			<key>Key</key>
			<string>pref_landscape_view</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto-Full Screen</string>
			<key>Key</key>
			<string>pref_auto_fullscreen</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Favicons</string>
			<key>Key</key>
			<string>pref_show_favicons</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show Thumbnails</string>
			<key>Key</key>
			<string>pref_show_list_images</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Both Views</string>
				<string>Newspaper View Only</string>
				<string>Table View Only</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
        <dict>
			<key>Title</key>
			<string>Newspaper View</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Article Source</string>
			<key>Key</key>
			<string>pref_show_feed_in_broadsheet</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
			<key>Title</key>
			<string>Home Screen</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>2</integer>
			<key>Title</key>
			<string>Show Unread Badge</string>
			<key>Key</key>
			<string>pref_app_badge</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Title</key>
			<string>Marking 200+ Items Read</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Confirm Before...</string>
			<key>Key</key>
			<string>pref_confirm_mark_all</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <!--<dict>
			<key>Title</key>
			<string>Twitter URL Shortening</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
            <key>Key</key>
			<string>bitlySection</string>
		</dict>
        <dict>
			<key>File</key>
			<string>Bitly</string>
			<key>Title</key>
			<string>bit.ly / j.mp</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>-->
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>File</key>
			<string>Advanced</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>resetShareAccounts</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
