<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>Title</key>
			<string>Newsify</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>googleAccount</string>
		</dict>
        <dict>
			<key>File</key>
			<string>Sync.Free</string>
			<key>Title</key>
			<string>Sync Settings</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <!--<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>registerApp</string>
		</dict>-->
        <dict>
			<key>Title</key>
			<string>Newsify</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>upgradeApp</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>rateAndReview</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>Reading</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show Subscriptions</string>
			<key>Key</key>
			<string>pref_show_unread_only</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>All</string>
				<string>Unread</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Order Subscriptions</string>
			<key>Key</key>
			<string>pref_sort_subscriptions</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Using Account Settings</string>
				<string>Alphabetically</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Order Items</string>
			<key>Key</key>
			<string>pref_order_items</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Descending</string>
				<string>Ascending</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Open Links</string>
			<key>Key</key>
			<string>pref_open_links</string>
			<key>DefaultValue</key>
			<string>original</string>
			<key>Titles</key>
			<array>
				<string>Original Page</string>
				<string>Instapaper Mobilizer</string>
				<string>Google Mobilizer</string>
                <string>Readability Mobilizer</string>
			</array>
			<key>Values</key>
			<array>
				<string>original</string>
				<string>instapaper</string>
				<string>google</string>
                <string>readability</string>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Article Font</string>
			<key>Key</key>
			<string>pref_font</string>
			<key>DefaultValue</key>
			<string>georgia</string>
			<key>Titles</key>
			<array>
				<string>Georgia</string>
				<string>Helvetica</string>
				<string>Verdana</string>
                <string>Palatino</string>
                <string>Times New Roman</string>
			</array>
			<key>Values</key>
			<array>
				<string>georgia</string>
				<string>helvetica</string>
				<string>verdana</string>
                <string>palatino</string>
                <string>timesnewroman</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Article Font Size</string>
			<key>Key</key>
			<string>pref_font_size</string>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Titles</key>
			<array>
				<string>Tiny</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Huge</string>
			</array>
			<key>Values</key>
			<array>
				<string>tiny</string>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
				<string>huge</string>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always Auto-Refresh</string>
			<key>Key</key>
			<string>pref_always_auto_refresh</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Landscape View</string>
			<key>Key</key>
			<string>pref_landscape_view</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto-Full Screen</string>
			<key>Key</key>
			<string>pref_auto_fullscreen</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Favicons</string>
			<key>Key</key>
			<string>pref_show_favicons</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show Thumbnails</string>
			<key>Key</key>
			<string>pref_show_list_images</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Both Views</string>
				<string>Newspaper View Only</string>
				<string>Table View Only</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
        <dict>
			<key>Title</key>
			<string>Home Screen</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>2</integer>
			<key>Title</key>
			<string>Show Unread Badge</string>
			<key>Key</key>
			<string>pref_app_badge</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Title</key>
			<string>Marking 200+ Items Read</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Confirm Before...</string>
			<key>Key</key>
			<string>pref_confirm_mark_all</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>resetShareAccounts</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
