
#title {
    font-size: 25px;
    line-height: 25px;
    padding: 12px 12px 12px 12px;
}

#meta, #date {
    font-size: 11px;
}

article {
    padding: 0px 12px 12px 12px;
}

article video, article object, article embed {
    max-width: 375px;
}

article iframe {
    width: 375px !important;
    height: 196px !important;
}
