
#title {
	letter-spacing: -0.025em;
	font-size: 26px;
	line-height: 26px;
	margin: 0px 0px 10px 0px;
	padding: 15px 15px 15px 15px;
}

#meta, #date {
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: -5px;
	
}

#meta {
	margin-bottom: -5px;
	line-height:13px;
}

#date {
	font-size: 12px;
}

#thumbnail {
    margin-bottom: 10px;
}

#promoted {
	font-size: 12px;
}

article {
    padding: 0px 15px 15px 15px;
}

article.tiny{
	font-size: 10px;
	line-height: 14px;
}

article.small{
	font-size: 13px;
	line-height: 19px;
}

article.medium{
	font-size: 16px;
	line-height: 24px;
}

article.large{
	font-size: 18px;
	line-height: 23px;
}

article.extralarge{
	font-size: 20px;
	line-height: 30px;
}

article.huge{
	font-size: 24px;
	line-height: 37px;
}

p:first-child {
	margin-top: 0;
}

article img {
	margin: 5px 10px 5px 0px !important;
	max-width: 98% !important;
}

article img[style*='float:right'] {
    margin: 5px 0px 5px 10px;
}

article .img150px, article .img300px {
	margin: 15px auto 15px auto !important;
}

article video, article object, article embed {
    max-width: 414px;
}

article iframe {
    width: 414px !important;
    height: 215px !important;
}
