<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>file</key>
				<string>/quickstart/1</string>
				<key>title</key>
				<string>Page 1</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/quickstart/2</string>
				<key>title</key>
				<string>Page 2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/quickstart/3</string>
				<key>title</key>
				<string>Page 3</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/quickstart/4</string>
				<key>title</key>
				<string>Page 4</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/quickstart/5</string>
				<key>title</key>
				<string>Page 5</string>
			</dict>
		</array>
		<key>title</key>
		<string>Schnellstart</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>file</key>
				<string>/faq/tension</string>
				<key>title</key>
				<string>Blutdruck, was ist das?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/sysdia</string>
				<key>title</key>
				<string>Was versteht man unter systolischem und diastolischem Druck?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/interpretation + /quickstart/interpretation.html</string>
				<key>title</key>
				<string>Was ist ein normaler Blutdruck?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/anormal</string>
				<key>title</key>
				<string>Die Messwerte liegen nicht im Normalbereich, was tun?</string>
			</dict>
		</array>
		<key>title</key>
		<string>Blutdruck</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>file</key>
				<string>/faq/hypertension</string>
				<key>title</key>
				<string>Bluthochdruck, was ist das?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/causes</string>
				<key>title</key>
				<string>Was sind die häufigsten Ursachen für Bluthochdruck?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/diminuer</string>
				<key>title</key>
				<string>Wie kann man den Blutdruck senken?</string>
			</dict>
		</array>
		<key>title</key>
		<string>Bluthochdruck</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>file</key>
				<string>/faq/precision</string>
				<key>title</key>
				<string>Wie ist die Genauigkeit von Withings?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/automesure</string>
				<key>title</key>
				<string>Selbstmessung, was ist das?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/autoconseil</string>
				<key>title</key>
				<string>Ist die Selbstmessung für alle Personen empfehlenswert?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/prendretension</string>
				<key>title</key>
				<string>Wie kann ich den Blutdruck korrekt messen?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/quelmoment</string>
				<key>title</key>
				<string>Wann soll ich meinen Blutdruck messen?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/deroulement</string>
				<key>title</key>
				<string>Wie läuft die Blutdruckmessung ab?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/interpreter</string>
				<key>title</key>
				<string>Wie kann ich meine Messergebnisse interpretieren?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/partage</string>
				<key>title</key>
				<string>Wie funktionierte die gemeinsame Nutzung der Daten?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/accesligne</string>
				<key>title</key>
				<string>Wie bekomme ich Zugang zu meinen online Daten?</string>
			</dict>
			<dict>
				<key>file</key>
				<string>/faq/symboles</string>
				<key>title</key>
				<string>Was bedeuten die Symbole an meinen Kurven?</string>
			</dict>
		</array>
		<key>title</key>
		<string>Withings Blutdruckmessgerät</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>file</key>
				<string>branchez</string>
				<key>title</key>
				<string>Anschluss des Blutdruckmessgeräts</string>
			</dict>
		</array>
		<key>title</key>
		<string>Anschluss</string>
	</dict>
</array>
</plist>
