<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>file</key>
				<string>whatAreMyButterflyWings</string>
				<key>title</key>
				<string>Pourquoi mon papillon grandit ou retrécit ?</string>
			</dict>
		</array>
		<key>title</key>
		<string>Mon compagnon santé</string>
	</dict>
</array>
</plist>
